* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
}

/* NAV */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #00a651;
  color: white;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00a651, #4caf50);
  color: white;
  text-align: center;
}

/* SECTION */
.section {
  padding: 50px 20px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background: #00a651;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media(max-width: 768px){
  .cards {
    flex-direction: column;
    align-items: center;
  }
}